@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;0,600;0,800;1,400&display=swap');

body {
    font-family: Bitter, "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 4px #888888;
    padding: 1% 15%;
}

.logo {
    width: 200px;
}

header > div, .header-links {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.header-links > img {
    margin: 0 10px 0 30px;
}

main {
    margin: 75px 0;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin: 10px;
}

h2 {
    font-weight: 400;
    font-size: 1.2em;
    margin: 6px;
}

main > p {
    font-size: 1.2em;
    margin: 6px;
}

button {
    padding: 12px 35px;
    margin: 20px;
    font-weight: 600;
    font-size: 1.3em;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #333333;    
}

button:hover {
    background-color: #333333dd; 
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  width:80%;
  position: relative;
  margin: 50px auto 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.active {
  display:initial;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 49%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #555555;
  font-size: 25px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  animation-name: slide;
  animation-duration: 1s;
}

@keyframes slide {
  from {opacity: 0.8}
  to {opacity: 1}
}

.contact, .ot-flex {
  display: flex;
  text-align: left;
}

.contact {
  max-width: 1000px;
  width:80%;
  margin: 75px auto;
}

.map-box {
  width: 65%;
}

.contact-box {
  width: 35%;
  margin: 0 0 0 60px;
}

.map {
  width: 100%;
}

h4 {
  font-size: 1.5em;
  margin: 0 0 20px;
}

.opening-times > div > p, .address > p {
  font-size: 1.1em;
  margin: 0;
  line-height: 1.7em;
} 

.address > p {
  margin-bottom: 40px;
}

.ot-flex-1 {
  width: 120px;
}

@media only screen and (max-width: 900px) {
  header {
    padding: 1% 10%;
  }

  .slideshow-container {
    width: 85%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .map-box {
    margin: 50px 0;
    width: 100%;
  }
  
  .contact-box {
    width: 100%;
    display: flex;
    margin: 0;
  }
  .address, .opening-times {
    width: 50%;
  }
}

@media only screen and (max-width: 720px) {
  header {
    padding: 1% 5%;
  }
  
  h1 {
    font-size: 2.5em;
  }

  .header-links > p {
    display: none;
  }

  .header-links > img {
    width: 40px;
    height: 40px;
  }
  
  .contact-box {
    flex-direction: column;
    text-align: center;
  }

  .address, .opening-times {
    width: 100%;
  }

  .ot-flex {
    margin-left: 23%;
  }
}
